<div class="container">
  <p>
    CurrentTime : {{ currData.time | date:"fullDate" }}
  </p>
  <p>
    Summary : {{ currData.summary }}
  </p>
  <p>
    Location : {{ currData.location }}
  </p>

  <div class="card bg-white border-black mh-100 h-50" *ngFor="let day of currData.view">
    <div class="card-header text-dark" id="cardDate">
      <p>
        {{ day.date | date:"fullDate" }}
      </p>
    </div>
    <div class="row .no-gutter">
      <div class="col-md-4">
        <img src="../../assets/images/rain.svg" class="card-img" alt="Card image cap">
        <div class="card-img-overlay justify-content-bottom">
          <div>
            <div class="badge badge-primary low">
              <h6>
                {{ day.low }}
              </h6>
            </div>
          </div>
          <div>
          </div>
          <div>
            <div class="badge badge-danger high">
              <h6>
                {{ day.high }}
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- <h5 class="card-title"></h5> -->

          <p class="card-text text-dark"> Sunrise : {{ day.sunrise | date:"h:mm:ss a" }}</p>
          <p class="card-text text-dark">Sunset : {{ day.sunset | date:"h:mm:ss a" }}</p>
          <p class="card-text text-success">{{ day.summary }}</p>
        </div>
      </div>
    </div>
  </div>